html, body {
  font-family: "monospace" !important;
  width:  100%;
  height: 5000px !important;
  margin: 0px;
  padding: 0px;
  /* overflow: hidden; */
  height: 100%;
}
canvas{

}
::-webkit-scrollbar {
    display: none;
}
#id1 {
  background-color: #2c7bb5;
  height: 75px;
}
div.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#link{
  opacity: 0.6;
}
#stop{
  width: 55px;
  padding-left: 20px;
}
